# Project - Global Shark Attacks

In [102]:
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import re
import plotly.express as px
import plotly.graph_objects as go
import os

## Importing and encoding the dataset

In [103]:
pwd

'/Users/Juliana/Desktop/Ironhack/Projects/Ironhack-Project'

In [104]:
attacks = pd.read_csv("/Users/Juliana/Desktop/Ironhack/Projects/Ironhack-Project/input/attacks.csv",encoding='latin1')

In [105]:
attacks

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonÂ McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Exploring the dataset general info

In [106]:
attacks.shape

(25723, 24)

In [107]:
#checking missing values per column
Nan_attacks= attacks.isna().sum()
missing_value_attack = pd.DataFrame({'Feature': attacks.columns,
                                 'Missing values': Nan_attacks})
missing_value_attack

                                       Feature  Missing values
Case Number                        Case Number           17021
Date                                      Date           19421
Year                                      Year           19423
Type                                      Type           19425
Country                                Country           19471
Area                                      Area           19876
Location                              Location           19961
Activity                              Activity           19965
Name                                      Name           19631
Sex                                       Sex            19986
Age                                        Age           22252
Injury                                  Injury           19449
Fatal (Y/N)                        Fatal (Y/N)           19960
Time                                      Time           22775
Species                               Species            22259
Investigator or Source  Investigator or Source           19438
pdf                                        pdf           19421
href formula                      href formula           19422
href                                      href           19421
Case Number.1                    Case Number.1           19421
Case Number.2                    Case Number.2           19421
original order                  original order           19414
Unnamed: 22                        Unnamed: 22           25722
Unnamed: 23                        Unnamed: 23           25721

In [108]:
#checking missing values percentages
percent_missing = attacks.isnull().sum() * 100 / len(attacks)
percent_missing
Nan_attack_percentage = pd.DataFrame({'Feature': attacks.columns,
                                 'Missing %': percent_missing})
Nan_attack_percentage

                                       Feature  Missing %
Case Number                        Case Number  66.170353
Date                                      Date  75.500525
Year                                      Year  75.508300
Type                                      Type  75.516075
Country                                Country  75.694903
Area                                      Area  77.269370
Location                              Location  77.599813
Activity                              Activity  77.615364
Name                                      Name  76.316915
Sex                                       Sex   77.697003
Age                                        Age  86.506240
Injury                                  Injury  75.609377
Fatal (Y/N)                        Fatal (Y/N)  77.595926
Time                                      Time  88.539439
Species                               Species   86.533453
Investigator or Source  Investigator or Source  75.566614
pdf                                        pdf  75.500525
href formula                      href formula  75.504412
href                                      href  75.500525
Case Number.1                    Case Number.1  75.500525
Case Number.2                    Case Number.2  75.500525
original order                  original order  75.473312
Unnamed: 22                        Unnamed: 22  99.996112
Unnamed: 23                        Unnamed: 23  99.992225

In [109]:
#deleting columns with 100% missing values
attacks.pop("Unnamed: 22")
attacks.pop("Unnamed: 23")
attacks.pop("Investigator or Source")
attacks.pop("pdf")
attacks.pop("href formula")
attacks.pop("href")
attacks.pop("original order")
attacks.pop("Case Number.1")
attacks.pop("Case Number.2")
attacks.pop("Case Number")

0        2018.06.25
1        2018.06.18
2        2018.06.09
3        2018.06.08
4        2018.06.04
            ...
25718           NaN
25719           NaN
25720           NaN
25721           NaN
25722            xx
Name: Case Number, Length: 25723, dtype: object

In [110]:
attacks.shape

(25723, 14)

In [111]:
#checking missing values percentages after poping Unnamed:22 and :23
percent_missing = attacks.isnull().sum() * 100 / len(attacks)
percent_missing
Nan_attack_percentage = pd.DataFrame({'Feature': attacks.columns,
                                 'Missing %': percent_missing})
Nan_attack_percentage

                 Feature  Missing %
Date                Date  75.500525
Year                Year  75.508300
Type                Type  75.516075
Country          Country  75.694903
Area                Area  77.269370
Location        Location  77.599813
Activity        Activity  77.615364
Name                Name  76.316915
Sex                 Sex   77.697003
Age                  Age  86.506240
Injury            Injury  75.609377
Fatal (Y/N)  Fatal (Y/N)  77.595926
Time                Time  88.539439
Species         Species   86.533453

In [112]:
#checking min, max and mean missing values percentages after poping Unnamed:22 and :23
print(Nan_attack_percentage['Missing %'].mean())
print(Nan_attack_percentage['Missing %'].max())
print(Nan_attack_percentage['Missing %'].min())

78.8216215615819
88.5394394121992
75.5005248221436

In [113]:
#poping missing values having age
attacks.dropna(subset=['Age'], inplace = True)

In [114]:
#dataframe updated after ignorable NaN deletion
attacks.shape

(3471, 14)

In [115]:
#checking updated missing values percentages after poping Unnamed:22 and :23
percent_missing = attacks.isnull().sum() * 100 / len(attacks)
percent_missing
Nan_attack_percentage = pd.DataFrame({'Feature': attacks.columns,
                                 'Missing %': percent_missing})
Nan_attack_percentage

                 Feature  Missing %
Date                Date   0.000000
Year                Year   0.028810
Type                Type   0.028810
Country          Country   0.259291
Area                Area   3.399597
Location        Location   4.321521
Activity        Activity   4.091040
Name                Name   0.316912
Sex                 Sex    1.094785
Age                  Age   0.000000
Injury            Injury   0.144051
Fatal (Y/N)  Fatal (Y/N)   6.539902
Time                Time  32.123307
Species         Species   36.819360

In [116]:
#checking updated min, max and mean missing values percentages after poping Unnamed:22 and :23
print(Nan_attack_percentage['Missing %'].mean())
print(Nan_attack_percentage['Missing %'].max())
print(Nan_attack_percentage['Missing %'].min())

6.369099065728279
36.81936041486603
0.0

In [117]:
#evaluating columns
attacks.columns

Index(['Date', 'Year', 'Type', 'Country', 'Area', 'Location', 'Activity',
       'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time', 'Species '],
      dtype='object')

In [118]:
attacks.shape

(3471, 14)

In [119]:
print(attacks.dtypes)
print(attacks.iloc[0])#sample case

Date            object
Year           float64
Type            object
Country         object
Area            object
Location        object
Activity        object
Name            object
Sex             object
Age             object
Injury          object
Fatal (Y/N)     object
Time            object
Species         object
dtype: object
Date                                                 25-Jun-2018
Year                                                      2018.0
Type                                                     Boating
Country                                                      USA
Area                                                  California
Location                             Oceanside, San Diego County
Activity                                                Paddling
Name                                                 Julie Wolfe
Sex                                                            F
Age                                                           57
Injury         No injury to occupant, outrigger canoe and pad...
Fatal (Y/N)                                                    N
Time                                                       18h00
Species                                              White shark
Name: 0, dtype: object

In [120]:
dict_attacks_rename = {column : column.strip() for column in attacks}
attacks = attacks.rename(dict_attacks_rename, axis = 1)
attacks.columns

Index(['Date', 'Year', 'Type', 'Country', 'Area', 'Location', 'Activity',
       'Name', 'Sex', 'Age', 'Injury', 'Fatal (Y/N)', 'Time', 'Species'],
      dtype='object')

In [125]:
attacks["Species"].value_counts()

White shark                                           95
Shark involvement not confirmed                       51
Shark involvement prior to death was not confirmed    47
Invalid                                               45
Tiger shark                                           45
                                                      ..
1.2 m [4'] "grey-colored shark"                        1
2 m cow shark                                          1
Shark involvement doubtful                             1
4.5 m to 5.5 m [15' to 18'] white shark                1
12' tiger shark                                        1
Name: Species, Length: 1086, dtype: int64

In [126]:
 listattacks["Species"].unique()

array(['White shark', nan, 'Tiger shark', ..., "Nurse shark, 2.1 m [7'] ",
       '"A pack of sharks"', "12' tiger shark"], dtype=object)