# Project - Global Shark Attacks

In [122]:
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import re

## Importing and encoding the dataset

In [123]:
attacks = pd.read_csv("attacks.csv",encoding='latin1')

In [124]:
attacks

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonÂ McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Exploring the dataset general info

In [125]:
attacks.shape

(25723, 24)

In [126]:
#checking missing values per column
Nan_attacks= attacks.isna().sum()
missing_value_attack = pd.DataFrame({'Columns': attacks.columns,
                                 'Missing values': Nan_attacks})
missing_value_attack

                                       Columns  Missing values
Case Number                        Case Number           17021
Date                                      Date           19421
Year                                      Year           19423
Type                                      Type           19425
Country                                Country           19471
Area                                      Area           19876
Location                              Location           19961
Activity                              Activity           19965
Name                                      Name           19631
Sex                                       Sex            19986
Age                                        Age           22252
Injury                                  Injury           19449
Fatal (Y/N)                        Fatal (Y/N)           19960
Time                                      Time           22775
Species                               Species            22259
Investigator or Source  Investigator or Source           19438
pdf                                        pdf           19421
href formula                      href formula           19422
href                                      href           19421
Case Number.1                    Case Number.1           19421
Case Number.2                    Case Number.2           19421
original order                  original order           19414
Unnamed: 22                        Unnamed: 22           25722
Unnamed: 23                        Unnamed: 23           25721

In [127]:
#checking missing values percentages
percent_missing = attacks.isnull().sum() * 100 / len(attacks)
percent_missing
Nan_attack_percentage = pd.DataFrame({'column_name': attacks.columns,
                                 'percent_missing': percent_missing})
Nan_attack_percentage

                                   column_name  percent_missing
Case Number                        Case Number        66.170353
Date                                      Date        75.500525
Year                                      Year        75.508300
Type                                      Type        75.516075
Country                                Country        75.694903
Area                                      Area        77.269370
Location                              Location        77.599813
Activity                              Activity        77.615364
Name                                      Name        76.316915
Sex                                       Sex         77.697003
Age                                        Age        86.506240
Injury                                  Injury        75.609377
Fatal (Y/N)                        Fatal (Y/N)        77.595926
Time                                      Time        88.539439
Species                               Species         86.533453
Investigator or Source  Investigator or Source        75.566614
pdf                                        pdf        75.500525
href formula                      href formula        75.504412
href                                      href        75.500525
Case Number.1                    Case Number.1        75.500525
Case Number.2                    Case Number.2        75.500525
original order                  original order        75.473312
Unnamed: 22                        Unnamed: 22        99.996112
Unnamed: 23                        Unnamed: 23        99.992225

In [128]:
#deleting columns with 100% missing values
attacks.pop("Unnamed: 22")
attacks.pop("Unnamed: 23")

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
        ...
25718    NaN
25719    NaN
25720    NaN
25721    NaN
25722    NaN
Name: Unnamed: 23, Length: 25723, dtype: object

In [129]:
attacks.shape

(25723, 22)

In [130]:
#checking missing values percentages after poping Unnamed:22 and :23
percent_missing = attacks.isnull().sum() * 100 / len(attacks)
percent_missing
Nan_attack_percentage = pd.DataFrame({'column_name': attacks.columns,
                                 'percent_missing': percent_missing})
Nan_attack_percentage

                                   column_name  percent_missing
Case Number                        Case Number        66.170353
Date                                      Date        75.500525
Year                                      Year        75.508300
Type                                      Type        75.516075
Country                                Country        75.694903
Area                                      Area        77.269370
Location                              Location        77.599813
Activity                              Activity        77.615364
Name                                      Name        76.316915
Sex                                       Sex         77.697003
Age                                        Age        86.506240
Injury                                  Injury        75.609377
Fatal (Y/N)                        Fatal (Y/N)        77.595926
Time                                      Time        88.539439
Species                               Species         86.533453
Investigator or Source  Investigator or Source        75.566614
pdf                                        pdf        75.500525
href formula                      href formula        75.504412
href                                      href        75.500525
Case Number.1                    Case Number.1        75.500525
Case Number.2                    Case Number.2        75.500525
original order                  original order        75.473312

In [131]:
#checking min, max and mean missing values percentages after poping Unnamed:22 and :23
print(Nan_attack_percentage['percent_missing'].mean())
print(Nan_attack_percentage['percent_missing'].max())
print(Nan_attack_percentage['percent_missing'].min())

77.19179510378049
88.5394394121992
66.17035338024336

In [133]:
#poping missing values having age
attacks.dropna(subset=['Age'], inplace = True)

In [136]:
#dataframe updated after ignorable NaN deletion
attacks.shape

(3471, 22)

In [134]:
#checking updated missing values percentages after poping Unnamed:22 and :23
percent_missing = attacks.isnull().sum() * 100 / len(attacks)
percent_missing
Nan_attack_percentage = pd.DataFrame({'column_name': attacks.columns,
                                 'percent_missing': percent_missing})
Nan_attack_percentage

                                   column_name  percent_missing
Case Number                        Case Number         0.000000
Date                                      Date         0.000000
Year                                      Year         0.028810
Type                                      Type         0.028810
Country                                Country         0.259291
Area                                      Area         3.399597
Location                              Location         4.321521
Activity                              Activity         4.091040
Name                                      Name         0.316912
Sex                                       Sex          1.094785
Age                                        Age         0.000000
Injury                                  Injury         0.144051
Fatal (Y/N)                        Fatal (Y/N)         6.539902
Time                                      Time        32.123307
Species                               Species         36.819360
Investigator or Source  Investigator or Source         0.172861
pdf                                        pdf         0.000000
href formula                      href formula         0.028810
href                                      href         0.000000
Case Number.1                    Case Number.1         0.000000
Case Number.2                    Case Number.2         0.000000
original order                  original order         0.000000

In [135]:
#checking updated min, max and mean missing values percentages after poping Unnamed:22 and :23
print(Nan_attack_percentage['percent_missing'].mean())
print(Nan_attack_percentage['percent_missing'].max())
print(Nan_attack_percentage['percent_missing'].min())

4.062229904926534
36.81936041486603
0.0

In [30]:
attacks.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')